* {
    margin: 0;
    padding: 0;
}

#cover-photo {
    height: 200px;
    background-color:lightblue;
    margin-top: 50px;
}

#profilephoto {
    background-color: lightgreen;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 100px;
}